<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
   <script src="socket.io/socket.io.js"></script>
   <script src="xuly.js"></script>
   <title>Chat app real time</title>
</head>

<body>
   <div class="container text-center mt-4" id="createRoom">
      <div class="mb-2">Enter your room to create</div>
      <input type="text" id="txtCreateRoom">
      <input type="button" id="btnCreateRoom" value="Create">
   </div>
   <div class="container mt-4" id="chatForm">
      <div class="row">
         <div class="col-4 text-white">
            <div class="card bg-dark col text-center">
               <div class="card-headder border border-white">
                  <h2>List room</h2>
               </div>               
               <div class="card-body" id="roomList"></div>
            </div>
         </div>
         <div class="col-8 bg-white">
            <div class="card">
               <div class="card-header text-right">
                  Room: <span id="RoomID">Quang</span>                          
               </div>
               <div class="card-body" id="bodyChat"></div>
               <div class="card-footer text-center">
                  <input type="text" id="valueChat">
                  <input type="button" value="Send" id="btnSend">
               </div>
            </div>
         </div>
      </div>
   </div>
</body>

</html>